@model FundMyPortfol.io.ViewModels.UserView
@using System.Security.Claims;
@{
    ViewData["Title"] = "Details";
}

<h2>Profile</h2>

<h4> @Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName)</h4>

@if (User.Identity.IsAuthenticated && !User.FindFirstValue(ClaimTypes.NameIdentifier).Equals(Model.Id.ToString()))
{
    <form asp-controller="Follow" asp-action="Follow">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Follow" name="" class="btn btn-default" />
    </form>
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectCounter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectCounter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Followers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Followers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            Media
        </dt>
        <dd>
            <img class="img-responsive" width="304" height="236" src="@Html.DisplayFor(model => model.ProfileImage)" />
        </dd>
    </dl>
    <ul class="list-group">
        @foreach (var project in Model.Project)
        {
            <li class="list-group-item"><a href="~/Projects/Details/@project.Id"> @project.Title </a> </li>
        }
    </ul>


</div>

@if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.NameIdentifier).Equals(Model.Id.ToString()))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model.Id"> Delete </a>
    </div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
