@model IEnumerable<FundMyPortfol.io.ViewModels.UserView>

@{
    ViewData["Title"] = "Index";
}

<h2>FundMyPortfol.io Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                FullName
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectCounter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Followers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectCounter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Followers)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
