@model FundMyPortfol.io.Models.Project
@using System.Security.Claims;
@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

@if (User.Identity.IsAuthenticated)
{
    <form asp-action="Like">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Like" class="btn btn-default" />
    </form>
}
<div>
    <h4>Project info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectCtrator)
        </dt>
        <dd>
            <a href="~/Users/Details/@Html.DisplayFor(model => model.ProjectCtratorNavigation.Id)">
                @Html.DisplayFor(model => model.ProjectCtratorNavigation.UserDetailsNavigation.FirstName)
                @Html.DisplayFor(model => model.ProjectCtratorNavigation.UserDetailsNavigation.LastName)<br />
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MoneyGoal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoneyGoal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MoneyReach)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoneyReach)
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.prc%">
                    @ViewBag.prc
                </div>
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PablishDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PablishDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Media
        </dt>
        <dd>
            <img class="img-responsive" width="304" height="236" src="@Html.DisplayFor(model => model.ProjectImage)" />
        </dd>
        <ul class="list-group">
            @foreach (var package in ViewBag.data)
            {
                <li class="list-group-item">
                    <a href="~/Packages/Details/@package.Id"> @package.PackageName </a> <br />
                    Price: @package.PledgeAmount
                </li>
            }
        </ul>

    </dl>
</div>
@if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.NameIdentifier).Equals(Model.ProjectCtrator.ToString()))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model.Id"> Delete </a>
    </div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
