@model IEnumerable<FundMyPortfol.io.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h2>FundMyPortfol.io Projects</h2>
@if (User.Identity.IsAuthenticated)
{ 
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<div class="container">
    <div class="row">
        <div class="col-sm-2 pull-right">
            Filter By Category:
            <select id="ddProjectCategory" class="form-control">
                <option></option>
                @{
                    var categories = from Project.Category c in Enum.GetValues(typeof(Project.Category))
                                     select new { value = c, description = c.ToString() };

                    foreach (var item in categories)
                    {
                        if (item.value == (Project.Category)ViewData["ddProjectCategory"])
                        {
                            <option selected="selected" value="@item.value">
                                @item.description
                            </option>
                        }
                        else
                        {
                            <option value="@item.value">@item.description</option>
                        }
                    }
                }
            </select>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoneyGoal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoneyReach)
            </th>
            <th>
                Project Creator
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Likes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpireDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoneyGoal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoneyReach)
                </td>
                <td>
                    <a href="~/Users/Details/@Html.DisplayFor(modelItem => item.ProjectCtratorNavigation.Id)">
                        @Html.DisplayFor(modelItem => item.ProjectCtratorNavigation.UserDetailsNavigation.FirstName)
                        @Html.DisplayFor(modelItem => item.ProjectCtratorNavigation.UserDetailsNavigation.LastName)
                    </a>

                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
