@model FundMyPortfol.io.Models.ProjectCreator

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectCreator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectCounter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectCounter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Followers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Followers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatorDetails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatorDetails.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
